example/example.txt
[{"id":"e4e77a7f.d13b58","type":"ui_template","z":"ffae6a3b.7c2d28","group":"1b10675.42df099","name":"icon image","order":1,"width":"2","height":"2","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi wi-wu-{{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"x":279,"y":825,"wires":[[]]},{"id":"abf1be5e.a3b5","type":"inject","z":"ffae6a3b.7c2d28","name":"test inj","topic":"","payload":"nt_fog","payloadType":"str","repeat":"","crontab":"","once":true,"x":117,"y":825,"wires":[["e4e77a7f.d13b58","351a322f.37174e"]]},{"id":"967dc9e2.3965f8","type":"ui_template","z":"ffae6a3b.7c2d28","group":"1b10675.42df099","name":"Load CSS","order":0,"width":"0","height":"0","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<style>\n    .nr-dashboard-theme-dark ui-card-panel {\n \tbackground-color: #222;\n \toutline: 1px solid #cccccc;\n \t  }\n</style>\n","storeOutMessages":false,"fwdInMessages":false,"x":197,"y":778,"wires":[[]]},{"id":"351a322f.37174e","type":"ui_text","z":"ffae6a3b.7c2d28","group":"1b10675.42df099","order":0,"width":"4","height":"2","name":"Some text","label":"Current icon:","format":"{{msg.payload}}","layout":"row-center","x":274,"y":864,"wires":[]},{"id":"1b10675.42df099","type":"ui_group","z":"","name":"Test","tab":"1476cf18.a43681","disp":true,"width":"6"},{"id":"1476cf18.a43681","type":"ui_tab","z":"","name":"Test","icon":"dashboard"}]
