example/example.txt
[{"id":"e21586eb.51be18","type":"ui_template","z":"c85a7a32.4b43e8","group":"61d2dced.3db8f4","name":"Load CSS","order":0,"width":"0","height":"0","format":"<link rel=\"stylesheet\" href=\"/weather-icons-lite/css/weather-icons-lite.min.css\">\n<style>\n    .nr-dashboard-theme-dark ui-card-panel {\n \tbackground-color: #222;\n \toutline: 1px solid #cccccc;\n \t  }\n</style>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":305,"y":390,"wires":[[]]},{"id":"1808423.0bc70be","type":"ui_template","z":"c85a7a32.4b43e8","group":"dd2dbe70.d7e25","name":"icon image","order":1,"width":"2","height":"2","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":410,"y":445,"wires":[[]]},{"id":"ec7dd288.c6dd6","type":"inject","z":"c85a7a32.4b43e8","name":"Inject nt_fog","topic":"","payload":"wi-wu-snow","payloadType":"str","repeat":"","crontab":"","once":true,"x":200,"y":445,"wires":[["1808423.0bc70be","f1be509d.822c3"]]},{"id":"f1be509d.822c3","type":"ui_text","z":"c85a7a32.4b43e8","group":"dd2dbe70.d7e25","order":0,"width":"4","height":"2","name":"Add label","label":"Current icon:","format":"{{msg.payload}}","layout":"row-center","x":405,"y":484,"wires":[]},{"id":"31dbe3be.9ec7cc","type":"inject","z":"c85a7a32.4b43e8","name":"inject mostlycloudy","topic":"","payload":"wi-wu-mostlycloudy","payloadType":"str","repeat":"","crontab":"","once":false,"x":185,"y":485,"wires":[["1808423.0bc70be","f1be509d.822c3"]]},{"id":"61d2dced.3db8f4","type":"ui_group","z":"","name":"Test","tab":"3c94630c.13381c","disp":true,"width":"6"},{"id":"dd2dbe70.d7e25","type":"ui_group","z":"","name":"Test","tab":"cf79e7eb.4ffb58","disp":true,"width":"6"},{"id":"3c94630c.13381c","type":"ui_tab","z":"","name":"Test","icon":"dashboard"},{"id":"cf79e7eb.4ffb58","type":"ui_tab","z":"","name":"Test","icon":"dashboard"}]
